/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .right{
        width: 0;
    }

    div#track-info {
        margin-bottom: 0;
    }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .right{
        width: 0;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .right{
      width: 0;
    }
    div#bonjour{
      margin-top: 60px;
      margin-bottom: 30px;
      justify-content: center;
    }
    #bonjour > img {
      margin-left: 0;
    }
    div#bonjour > h1{
      display: none!important;
    }
    #cover-device{
      display: flex!important;
      text-align: center;
      align-items: center;
      justify-content: center;
      height: 600px;
    }
    img#cover-device-img {
      width: 70%;
      border-radius: 8px;
      /* margin-top: 60px; */
    }
    div#title-box {
      font-size: 5em;
    }
    .reduce-font-size{
      font-size: 3em!important;
    }
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .right{
        width: 0;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .right{
      width: 0;
    }
    div#bonjour{
      margin-top: 60px;
      margin-bottom: 30px;
      justify-content: center;
    }
    #bonjour > img {
      margin-left: 0;
    }
    div#bonjour > h1{
      display: none!important;
    }
    #cover-device{
      display: flex!important;
      text-align: center;
      align-items: center;
      justify-content: center;
      height: 600px;
    }
    img#cover-device-img {
      width: 70%;
      border-radius: 8px;
      /* margin-top: 60px; */
    }
    div#title-box {
      font-size: 5em;
    }
    .reduce-font-size{
      font-size: 3em!important;
    }
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .right{
        width: 0;
    }
}


/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .right{
        width: 0;
    }
    .left{
      justify-content:space-around;
    }
    div#time {
      display: none;
    }
    div#last-tracks{
      display: none;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    div#bonjour{
      margin-top: 30px;
      margin-bottom: 50px;
      justify-content: center;
    }
    div#bonjour > img {
      margin-left: 0;
      width: 250px!important;
    }
    div#bonjour > h1{
      display: none!important;
    }

    #cover-device{
      display: flex!important;
      text-align: center;
      align-items: center;
      justify-content: center;
      height: 600px;
  }
  img#cover-device-img {
    width: 70%;
    border-radius: 8px;
    /* margin-top: 60px; */
}
  div#track-info{
    text-align: center;
    margin-bottom: 0;
  }
  div#title-box {
    font-size: 3.5em;
  }
  .reduce-font-size{
    font-size: 3em!important;
}

  #main-player {   
    margin-bottom: 110px;
  }
  div#player-controls {    
    justify-content: center;
    align-items: center;
  }
  div#button{
    font-size: 180px;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    #cover-device{
      display: none;
  }

  div#carton-cache {
    position: absolute;
    background: #ffb100;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div#carton-cache > img {
    mix-blend-mode: multiply;
  }

  div#main-content{
    display: none;
  }

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .right{
        width: 0;
    }
    .left{
      justify-content:space-around;
    }
    div#time {
      display: none;
    }
    div#last-tracks{
      display: none;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    div#bonjour{
      margin-top: 30px;
      margin-bottom: 50px;
      justify-content: center;
    }
    div#bonjour > img {
      margin-left: 0;
      width: 250px!important;
    }
    div#bonjour > h1{
      display: none!important;
    }
    #cover-device{
      display: flex!important;
      text-align: center;
      align-items: center;
      justify-content: center;
      height: 600px;
  }
  img#cover-device-img {
    width: 70%;
    border-radius: 8px;
    /* margin-top: 60px; */
}
  div#track-info{
    text-align: center;
    margin-bottom: 0;
  }
  div#title-box {
    font-size: 3.5em;
  }
  .reduce-font-size{
    font-size: 3em!important;
}
  #main-player {   
    margin-bottom: 110px;
  }
  div#player-controls {    
    justify-content: center;
    align-items: center;
  }
  div#button{
    font-size: 180px;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    #cover-device{
      display: none!important;
  }
  div#title-box {
    font-size: 4em;
  }

  div#carton-cache {
    position: absolute;
    background: #ffb100;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div#carton-cache > img {
    mix-blend-mode: multiply;
  }
  div#main-content{
    display: none;
  }
}



/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .right{
        width: 0;
    }
    .left{
      justify-content:space-around;
    }
    div#time {
      display: none;
    }
    div#last-tracks{
      display: none;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    div#bonjour{
      margin-top: 30px;
      margin-bottom: 50px;
      justify-content: center;
    }
    div#bonjour > img {
      margin-left: 0;
      width: 250px!important;
    }
    div#bonjour > h1{
      display: none!important;
    }
    #cover-device{
      display: flex!important;
      text-align: center;
      align-items: center;
    justify-content: center;
    height: 600px;
  }
  img#cover-device-img {
    width: 80%;
    border-radius: 8px;
    /* margin-top: 60px; */
}
  div#track-info{
    text-align: center;
    margin-bottom: 0;
  }
  div#title-box {
    font-size: 4em;
  }
  .reduce-font-size{
    font-size: 3em!important;
}
  #main-player {   
    margin-bottom: 110px;
  }
  div#player-controls {    
    justify-content: center;
    align-items: center;
  }
  div#button{
    font-size: 180px;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    #cover-device{
      display: none!important;
  }
  div#title-box {
    font-size: 5em;
  }

  div#carton-cache {
    position: absolute;
    background: #ffb100;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div#carton-cache > img {
    mix-blend-mode: multiply;
  }

  div#main-content{
    display: none;
  }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .right{
        width: 0;
    }
    .left{
      justify-content:space-around;
    }
    div#time {
      display: none;
    }
    div#last-tracks{
      display: none;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    div#bonjour{
      margin-top: 30px;
      margin-bottom: 50px;
      justify-content: center;
    }
    div#bonjour > img {
      margin-left: 0;
      width: 250px!important;
    }
    div#bonjour > h1{
      display: none!important;
    }
    #cover-device{
      display: flex!important;
      text-align: center;
      align-items: center;
    justify-content: center;
    height: 600px;
  }
  img#cover-device-img {
    width: 80%;
    border-radius: 8px;
    /* margin-top: 60px; */
}
  div#track-info{
    text-align: center;
    margin-bottom: 0;
  }
  div#title-box {
    font-size: 5em;
  }
  .reduce-font-size{
    font-size: 4em!important;
}
  #main-player {   
    margin-bottom: 110px;
  }
  div#player-controls {    
    justify-content: center;
    align-items: center;
  }
  div#button{
    font-size: 180px;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    #cover-device{
      display: none!important;
  }

  div#carton-cache {
    position: absolute;
    background: #ffb100;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div#carton-cache > img {
    mix-blend-mode: multiply;
  }
  div#main-content{
    display: none;
  }
}
